<a href="https://colab.research.google.com/github/sikandarmir/Data_Upload_into_Colab/blob/main/Upload_Data_from_your_local_machine_to_Google_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Upload Data from your local machine to Google Colab

In [1]:
from google.colab import files
files.upload()

Saving House.csv to House.csv

{'House.csv': b'town,area,price\r\nmonroe township,2600,550000\r\nmonroe township,3000,565000\r\nmonroe township,3200,610000\r\nmonroe township,3600,680000\r\nmonroe township,4000,725000\r\nwest windsor,2600,585000\r\nwest windsor,2800,615000\r\nwest windsor,3300,650000\r\nwest windsor,3600,710000\r\nwest windsor,2600,575000\r\nrobbinsvile,2900,600000\r\nrobbinsvile,2900,620000\r\nrobbinsvile,3100,695000\r\nrobbinsvile,3600,700000\r\nrobbinsvile,3200,740000\r\n'}

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("/content/House.csv")

In [5]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9      west windsor  2600  575000
10      robbinsvile  2900  600000
11      robbinsvile  2900  620000
12      robbinsvile  3100  695000
13      robbinsvile  3600  700000
14      robbinsvile  3200  740000